* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow:hidden;
  background-color:#000;
  font-family: 'Inter Tight', sans-serif;

}

.footer {
  position:fixed;
  width:100%;
  text-align:center;
  bottom:2rem;
  z-index:9999;
}

h3{
  margin: 0 auto;
  font-size:1rem;
  color:rgba(151,159,177,0.8);
  font-weight:700;
}

p {
  margin: 0 auto;
  font-size: 0.75rem;
  color:rgba(151,159,177,0.8);
  font-weight:500;
}

canvas {
  height: 100%;
  width: 100%;
}